<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a class="btn btn-md btn-primary" href="/studentes">Back</a>
            <hr>
            <div class="card">
                <div class="card-body">
                    <h2>Add New Students</h2>
                    <hr>
                    <form action="/studentes/edit/<%= Studentes._id %> " method="post" enctype="multipart/form-data">
                        <div class="my-3">
                            <label for="">Name</label>
                            <input value="<%= Studentes.name %> " name="name" type="text" class="form-control">
                        </div>
                        <div class="my-3">
                            <label for="">Email</label>
                            <input value="<%= Studentes.email %> " name="email" type="text" class="form-control">
                        </div>
                        <div class="my-3">
                            <label for="">Call</label>
                            <input value="<%= Studentes.call %> " name="call" type="text" class="form-control" >
                        </div>
                        <div class="my-3">
                            <input name="old_photo" value="<%= Studentes.photo %>" type="text" class="form-control">
                            <img style="width: 300px;" src="/assets/uploads/<%= Studentes.photo %>" alt="">
                        </div>
                        <div class="my-3">
                            <label for="">For Update Photo</label>
                            <input name="photo" type="file" class="form-control">
                        </div>
                        <div class="my-3">
                            <input type="submit" class="btn btn-sm btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   </div>
